body {
  background: #EDECE7 url(../images/cookie_monster.png) no-repeat bottom right;
  color: #856E49;
  font: 14pt/1.6em "Helvetica Neue", serif;
  margin: 0 auto;
  width: 600px;
}

input {
  color: #6F4E2B;
}

a {
  color: #6F4E2B;
  text-decoration: none;
}

header {
  background: url(../images/header.png) no-repeat;
  height: 200px;
}

.logo {
  float: left;
  margin-left: 60px;
}

.remaining {
  font-family: Georgia, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 3em;
  float: right;
  text-align: center;
  margin-top: 60px;
  width: 160px;
}

article {
  background: #e6e0cc;
  padding: 10px 20px 20px;
  margin: 0 auto;
  width: 360px;
}

footer {
  color: #AC9D83;
  font-size: 0.8em;
  margin: 1em 0;
  text-align: center;
}

form.formtastic fieldset > ol > li p.inline-hints {
  color: #AC9D83;
  font-size: 0.7em;
  position: absolute;
  margin: 0 0 0 90px;
  line-height: 1.6em;
  width: 360px;
}

form.formtastic fieldset > ol > li p.inline-errors {
  background: url(/images/error_flag.png) no-repeat 0 50%;
  color: #F0C9C3;
  position: absolute;
  font-size: 0.7em;
  padding: 0.2em 1em 0.2em 2em;
  margin: -2.4em 0 0 345px;
}

form.formtastic .about {
  color: #6F4E2B;
  margin-bottom: 1em;
}