body {
  background: #EDECE7 url(../images/cookie_monster.png) no-repeat bottom right;
  font: 14pt/1.6em Georgia, serif;
  margin: 0 auto;
  width: 400px;
}

a {
  text-decoration: none;
}

header {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.2em;
}

form {
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1em 1em 0 1em !important;
  margin: 1em 0 !important;
}

footer {
  font-size: 0.8em;
}